# Note: create your own application.yaml base on application_template.yaml

# Server config
server:
    port: 8080
    tomcat:
        threads:
            max: 200

# App config
app:
    cors:
        allowed-origins:
            - "http://localhost:5173"
            - "http://localhost:3000"
    jwt:
        secret-key: "spring-server-sim-app-secret-key-32-bytes"
        expiration-ms: 86400000 # 1 day

# Spring config
spring:
    application:
        name: sim-app

    datasource:
        url:
        username:
        password:
        driver-class-name: org.postgresql.Driver
        type: com.zaxxer.hikari.HikariDataSource
        hikari:
            maximum-pool-size: 20
            minimum-idle: 5 
    
    flyway:
        enabled: false

    kafka:
        bootstrap-servers: localhost:9193
        consumer:
            group-id: sim-group
            auto-offset-reset: earliest
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        
            value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer 
        
            properties:
                "[spring.deserializer.value.delegate.class]": org.springframework.kafka.support.serializer.JsonDeserializer
                "[spring.json.trusted.packages]": "*"
                "[spring.json.ignore.type.headers]": true
                "[spring.json.fail-on-unknown-properties]": false
                "[spring.deserializer.value.function.class]": org.springframework.kafka.support.serializer.FailedDeserializationFunction

        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.apache.kafka.common.serialization.StringSerializer

# Swagger
springdoc:
    swagger-ui:
        path: /swagger-ui.html

# Mapper database
mybatis-plus:
    configuration:
        map-underscore-to-camel-case: true
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
        cache-enabled: true
    global-config:
        db-config:
            logic-delete-field: delFlag
            logic-not-delete-value: 0

# Logger
logging:
    level:
        "[com.sim.app.sim_app]": DEBUG 
        "[com.baomidou.mybatisplus]": DEBUG  
        "[org.apache.ibatis]": DEBUG 
        "[org.apache.ibatis.type]": DEBUG 
        "[org.springframework.jdbc.core]": DEBUG
        "[java.sql.Connection]": TRACE
        "[java.sql]": TRACE

# Rate limitter
resilience4j:
    circuitbreaker:
        instances:
            checkRandom:
                register-health-indicator: true
                sliding-window-size: 20
                permitted-number-of-calls-in-half-open-state: 5
                sliding-window-type: COUNT_BASED
                minimum-number-of-calls: 10
                wait-duration-in-open-state: 5s
                failure-rate-threshold: 50
                event-consumer-buffer-size: 10
                record-exceptions:
                    - org.springframework.web.client.HttpServerErrorException
                ignore-exceptions:
                    - com.sim.app.sim_app.core.exception.MyException
    ratelimiter:
        instances:
            default:
                limit-for-period: 6000
                limit-refresh-period: 1s
                timeout-duration: 0
                register-health-indicator: true
                event-consumer-buffer-size: 100
           
# Management
management:
    health:
        circuitbreakers:
            enabled: true
    endpoints:
        web:
            exposure:
                include:
                    - '*'
    endpoint:
        health:
            show-details: always
