# Note: create your own application.yaml base on application_template.yaml

# Server config
server:
    port: 8080
    tomcat:
        threads:
            max: 200

# Spring config
spring:
    application:
        name: sim-app

    datasource:
        url:
        username:
        password:
        driver-class-name: org.postgresql.Driver
        type: com.zaxxer.hikari.HikariDataSource
        hikari:
            maximum-pool-size: 20
            minimum-idle: 5 

# Swagger
springdoc:
    swagger-ui:
        path: /swagger-ui.html

# Mapper database
mybatis-plus:
    configuration:
        map-underscore-to-camel-case: true
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
        cache-enabled: true
    global-config:
        db-config:
            logic-delete-field: delFlag
            logic-not-delete-value: 0

# Logger
logging:
    level:
        root: INFO
    file:
        name: ./logs/application.log

# Rate limitter
resilience4j:
    circuitbreaker:
        instances:
            checkRandom:
                register-health-indicator: true
                sliding-window-size: 20
                permitted-number-of-calls-in-half-open-state: 5
                sliding-window-type: COUNT_BASED
                minimum-number-of-calls: 10
                wait-duration-in-open-state: 5s
                failure-rate-threshold: 50
                event-consumer-buffer-size: 10
                record-exceptions:
                    - org.springframework.web.client.HttpServerErrorException
                ignore-exceptions:
                    - com.sim.app.sim_app.core.exception.MyException
    ratelimiter:
        instances:
            default:
                limit-for-period: 6000
                limit-refresh-period: 1s
                timeout-duration: 0
                register-health-indicator: true
                event-consumer-buffer-size: 100
           
# Management
management:
    health:
        circuitbreakers:
            enabled: true
    endpoints:
        web:
            exposure:
                include:
                    - '*'
    endpoint:
        health:
            show-details: always
